In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import os
import seaborn as sns
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [2]:
dataset = pd.read_csv('/kaggle/input/spaceship-titanic/train.csv')
dataset_test = pd.read_csv('../input/spaceship-titanic/test.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [4]:
dataset_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [5]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

In [6]:
X_test = dataset_test
X = X.drop(columns = ["PassengerId","Name"])
X_test = X_test.drop(columns = ["PassengerId","Name"])
X.columns

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'],
      dtype='object')

In [7]:
X_test.columns

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'],
      dtype='object')

In [8]:
print(X.isnull().sum()/len(X)*100)
print(X_test.isnull().sum()/len(X)*100)

HomePlanet      2.312205
CryoSleep       2.496261
Cabin           2.289198
Destination     2.093639
Age             2.059128
VIP             2.335212
RoomService     2.082135
FoodCourt       2.105142
ShoppingMall    2.392730
Spa             2.105142
VRDeck          2.162660
dtype: float64
HomePlanet      1.000805
CryoSleep       1.069826
Cabin           1.150351
Destination     1.058323
Age             1.046819
VIP             1.069826
RoomService     0.943288
FoodCourt       1.219372
ShoppingMall    1.127344
Spa             1.161854
VRDeck          0.920281
dtype: float64

In [9]:
for i in X.columns:
    if X[i].dtype not in ['int64','float64']:
        X[i] = X[i].ffill().bfill()
    else:
        X[i] = X[i].fillna(X[i].mean())
print(X.isnull().sum()/len(X)*100)
for i in X_test.columns:
    if X_test[i].dtype not in ['int64','float64']:
        X_test[i] = X_test[i].ffill().bfill()
    else:
        X_test[i] = X_test[i].fillna(X_test[i].mean())
print(X_test.isnull().sum()/len(X_test)*100)

HomePlanet      0.0
CryoSleep       0.0
Cabin           0.0
Destination     0.0
Age             0.0
VIP             0.0
RoomService     0.0
FoodCourt       0.0
ShoppingMall    0.0
Spa             0.0
VRDeck          0.0
dtype: float64
HomePlanet      0.0
CryoSleep       0.0
Cabin           0.0
Destination     0.0
Age             0.0
VIP             0.0
RoomService     0.0
FoodCourt       0.0
ShoppingMall    0.0
Spa             0.0
VRDeck          0.0
dtype: float64

In [10]:
X[["Deck","Num","Side"]] = X["Cabin"].str.split('/', expand = True)
X_test[["Deck","Num","Side"]] = X_test["Cabin"].str.split('/', expand = True)
print(X)
print(X_test)

     HomePlanet  CryoSleep     Cabin    Destination   Age    VIP  RoomService  \
0        Europa      False     B/0/P    TRAPPIST-1e  39.0  False          0.0
1         Earth      False     F/0/S    TRAPPIST-1e  24.0  False        109.0
2        Europa      False     A/0/S    TRAPPIST-1e  58.0   True         43.0
3        Europa      False     A/0/S    TRAPPIST-1e  33.0  False          0.0
4         Earth      False     F/1/S    TRAPPIST-1e  16.0  False        303.0
...         ...        ...       ...            ...   ...    ...          ...
8688     Europa      False    A/98/P    55 Cancri e  41.0   True          0.0
8689      Earth       True  G/1499/S  PSO J318.5-22  18.0  False          0.0
8690      Earth      False  G/1500/S    TRAPPIST-1e  26.0  False          0.0
8691     Europa      False   E/608/S    55 Cancri e  32.0  False          0.0
8692     Europa      False   E/608/S    TRAPPIST-1e  44.0  False        126.0

      FoodCourt  ShoppingMall     Spa  VRDeck Deck   Num Side
0           0.0           0.0     0.0     0.0    B     0    P
1           9.0          25.0   549.0    44.0    F     0    S
2        3576.0           0.0  6715.0    49.0    A     0    S
3        1283.0         371.0  3329.0   193.0    A     0    S
4          70.0         151.0   565.0     2.0    F     1    S
...         ...           ...     ...     ...  ...   ...  ...
8688     6819.0           0.0  1643.0    74.0    A    98    P
8689        0.0           0.0     0.0     0.0    G  1499    S
8690        0.0        1872.0     1.0     0.0    G  1500    S
8691     1049.0           0.0   353.0  3235.0    E   608    S
8692     4688.0           0.0     0.0    12.0    E   608    S

[8693 rows x 14 columns]
     HomePlanet  CryoSleep     Cabin    Destination        Age    VIP  \
0         Earth       True     G/3/S    TRAPPIST-1e  27.000000  False
1         Earth      False     F/4/S    TRAPPIST-1e  19.000000  False
2        Europa       True     C/0/S    55 Cancri e  31.000000  False
3        Europa      False     C/1/S    TRAPPIST-1e  38.000000  False
4         Earth      False     F/5/S    TRAPPIST-1e  20.000000  False
...         ...        ...       ...            ...        ...    ...
4272      Earth       True  G/1496/S    TRAPPIST-1e  34.000000  False
4273      Earth      False  G/1496/S    TRAPPIST-1e  42.000000  False
4274       Mars       True   D/296/P    55 Cancri e  28.658146  False
4275     Europa      False   D/297/P    55 Cancri e  28.658146  False
4276      Earth       True  G/1498/S  PSO J318.5-22  43.000000  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck Deck   Num Side
0             0.0        0.0           0.0     0.0     0.0    G     3    S
1             0.0        9.0           0.0  2823.0     0.0    F     4    S
2             0.0        0.0           0.0     0.0     0.0    C     0    S
3             0.0     6652.0           0.0   181.0   585.0    C     1    S
4            10.0        0.0         635.0     0.0     0.0    F     5    S
...           ...        ...           ...     ...     ...  ...   ...  ...
4272          0.0        0.0           0.0     0.0     0.0    G  1496    S
4273          0.0      847.0          17.0    10.0   144.0    G  1496    S
4274          0.0        0.0           0.0     0.0     0.0    D   296    P
4275          0.0     2680.0           0.0     0.0   523.0    D   297    P
4276          0.0        0.0           0.0     0.0     0.0    G  1498    S

[4277 rows x 14 columns]

In [11]:
X['Side']

0       P
1       S
2       S
3       S
4       S
       ..
8688    P
8689    S
8690    S
8691    S
8692    S
Name: Side, Length: 8693, dtype: object

In [12]:
del X['Cabin']
del X_test['Cabin']

In [13]:
X['CryoSleep'] = X['CryoSleep'].astype('bool')
X['VIP'] = X['VIP'].astype('bool')
X_test['CryoSleep'] = X_test['CryoSleep'].astype('bool')
X_test['VIP'] = X_test['VIP'].astype('bool')

In [14]:
del X['Num']
del X_test['Num']
del X['Deck']
del X_test['Deck']

In [15]:
print(X)
print(X_test)

     HomePlanet  CryoSleep    Destination   Age    VIP  RoomService  \
0        Europa      False    TRAPPIST-1e  39.0  False          0.0
1         Earth      False    TRAPPIST-1e  24.0  False        109.0
2        Europa      False    TRAPPIST-1e  58.0   True         43.0
3        Europa      False    TRAPPIST-1e  33.0  False          0.0
4         Earth      False    TRAPPIST-1e  16.0  False        303.0
...         ...        ...            ...   ...    ...          ...
8688     Europa      False    55 Cancri e  41.0   True          0.0
8689      Earth       True  PSO J318.5-22  18.0  False          0.0
8690      Earth      False    TRAPPIST-1e  26.0  False          0.0
8691     Europa      False    55 Cancri e  32.0  False          0.0
8692     Europa      False    TRAPPIST-1e  44.0  False        126.0

      FoodCourt  ShoppingMall     Spa  VRDeck Side
0           0.0           0.0     0.0     0.0    P
1           9.0          25.0   549.0    44.0    S
2        3576.0           0.0  6715.0    49.0    S
3        1283.0         371.0  3329.0   193.0    S
4          70.0         151.0   565.0     2.0    S
...         ...           ...     ...     ...  ...
8688     6819.0           0.0  1643.0    74.0    P
8689        0.0           0.0     0.0     0.0    S
8690        0.0        1872.0     1.0     0.0    S
8691     1049.0           0.0   353.0  3235.0    S
8692     4688.0           0.0     0.0    12.0    S

[8693 rows x 11 columns]
     HomePlanet  CryoSleep    Destination        Age    VIP  RoomService  \
0         Earth       True    TRAPPIST-1e  27.000000  False          0.0
1         Earth      False    TRAPPIST-1e  19.000000  False          0.0
2        Europa       True    55 Cancri e  31.000000  False          0.0
3        Europa      False    TRAPPIST-1e  38.000000  False          0.0
4         Earth      False    TRAPPIST-1e  20.000000  False         10.0
...         ...        ...            ...        ...    ...          ...
4272      Earth       True    TRAPPIST-1e  34.000000  False          0.0
4273      Earth      False    TRAPPIST-1e  42.000000  False          0.0
4274       Mars       True    55 Cancri e  28.658146  False          0.0
4275     Europa      False    55 Cancri e  28.658146  False          0.0
4276      Earth       True  PSO J318.5-22  43.000000  False          0.0

      FoodCourt  ShoppingMall     Spa  VRDeck Side
0           0.0           0.0     0.0     0.0    S
1           9.0           0.0  2823.0     0.0    S
2           0.0           0.0     0.0     0.0    S
3        6652.0           0.0   181.0   585.0    S
4           0.0         635.0     0.0     0.0    S
...         ...           ...     ...     ...  ...
4272        0.0           0.0     0.0     0.0    S
4273      847.0          17.0    10.0   144.0    S
4274        0.0           0.0     0.0     0.0    P
4275     2680.0           0.0     0.0   523.0    P
4276        0.0           0.0     0.0     0.0    S

[4277 rows x 11 columns]

In [16]:
categorical_cols = X.select_dtypes(include=['object','bool']).columns.tolist()
#categorical_cols = X.columns[categorical_feature_mask].tolist()
categorical_cols_test = X_test.select_dtypes(include=['object','bool']).columns.tolist()
#categorical_cols_test = X_test.columns[categorical_feature_mask_test].tolist()

In [17]:
categorical_cols

['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Side']

In [18]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [19]:
X[categorical_cols] = X[categorical_cols].apply(lambda col: le.fit_transform(col))
X_test[categorical_cols] = X_test[categorical_cols].apply(lambda col: le.fit_transform(col))

In [20]:
X_test[categorical_cols]

      HomePlanet  CryoSleep  Destination  VIP  Side
0              0          1            2    0     1
1              0          0            2    0     1
2              1          1            0    0     1
3              1          0            2    0     1
4              0          0            2    0     1
...          ...        ...          ...  ...   ...
4272           0          1            2    0     1
4273           0          0            2    0     1
4274           2          1            0    0     0
4275           1          0            0    0     0
4276           0          1            1    0     1

[4277 rows x 5 columns]

In [21]:
X_test

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Side
0,0,1,2,27.000000,0,0.0,0.0,0.0,0.0,0.0,1
1,0,0,2,19.000000,0,0.0,9.0,0.0,2823.0,0.0,1
2,1,1,0,31.000000,0,0.0,0.0,0.0,0.0,0.0,1
3,1,0,2,38.000000,0,0.0,6652.0,0.0,181.0,585.0,1
4,0,0,2,20.000000,0,10.0,0.0,635.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1,2,34.000000,0,0.0,0.0,0.0,0.0,0.0,1
4273,0,0,2,42.000000,0,0.0,847.0,17.0,10.0,144.0,1
4274,2,1,0,28.658146,0,0.0,0.0,0.0,0.0,0.0,0
4275,1,0,0,28.658146,0,0.0,2680.0,0.0,0.0,523.0,0
4276,0,1,1,43.000000,0,0.0,0.0,0.0,0.0,0.0,1

In [22]:
#from sklearn.preprocessing import OneHotEncoder
#ohe = OneHotEncoder()

In [23]:
#X_ohe = pd.DataFrame(ohe.fit_transform(X).toarray())
#X_ohe_test = pd.DataFrame(ohe.fit_transform(X_test).toarray())

In [24]:
#X = X.join(X_ohe)
#X

In [25]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [26]:
from sklearn.linear_model import LogisticRegression
logReg = LogisticRegression()

In [27]:
X.iloc[:,5:10] = X.iloc[:,5:10].apply(lambda x: (x-x.mean())/ x.std(), axis=0)
for i in X.columns:
    print(X[i].isnull().sum()/len(X)*100)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [28]:
X_test.iloc[:,5:10] = X_test.iloc[:,5:10].apply(lambda x: (x-x.mean())/ x.std(), axis=0)

In [29]:
X_test

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Side
0,0,1,2,27.000000,0,-0.364737,-0.291318,-0.319822,-0.274526,-0.251531,1
1,0,0,2,19.000000,0,-0.364737,-0.285352,-0.319822,2.282741,-0.251531,1
2,1,1,0,31.000000,0,-0.364737,-0.291318,-0.319822,-0.274526,-0.251531,1
3,1,0,2,38.000000,0,-0.364737,4.118042,-0.319822,-0.110563,0.222048,1
4,0,0,2,20.000000,0,-0.348102,-0.291318,0.825649,-0.274526,-0.251531,1
...,...,...,...,...,...,...,...,...,...,...,...
4272,0,1,2,34.000000,0,-0.364737,-0.291318,-0.319822,-0.274526,-0.251531,1
4273,0,0,2,42.000000,0,-0.364737,0.270127,-0.289156,-0.265467,-0.134958,1
4274,2,1,0,28.658146,0,-0.364737,-0.291318,-0.319822,-0.274526,-0.251531,0
4275,1,0,0,28.658146,0,-0.364737,1.485153,-0.319822,-0.274526,0.171856,0
4276,0,1,1,43.000000,0,-0.364737,-0.291318,-0.319822,-0.274526,-0.251531,1

In [30]:
logReg.fit(X, y)

LogisticRegression()

In [31]:
score = logReg.score(X, y)
print(score)

0.7881053721385023

In [32]:
df = pd.DataFrame(logReg.predict(X_test))
df

          0
0      True
1     False
2      True
3      True
4      True
...     ...
4272   True
4273   True
4274   True
4275   True
4276   True

[4277 rows x 1 columns]

In [33]:
df.to_csv('result.csv')